$kuning: #fbbc05;
$hijau: #34a853;
$biru: #4285f4;
$merah: #ea4335;
$latar: #f8f9fa;
$latar2: #e9ecef;
$huruf: #707070;

@font-face {
  font-family: "montserratregular";
  src: url("../font/montserrat-regular.woff2") format("woff2"), url("../font/montserrat-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cabinbold";
  src: url("../font/cabin-bold-webfont.woff2") format("woff2"), url("../font/cabin-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cabinregular";
  src: url("../font/cabin-regular-webfont.woff2") format("woff2"), url("../font/cabin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "vigaregular";
  src: url("../font/viga-regular.woff2") format("woff2"), url("../font/viga-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $latar;
}
header {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;

  .logo {
    width: 30px;
  }

  .transparan {
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar {
    font-family: montserratregular;
    z-index: 5;
    a {
      color: white;
      display: inline-block;
    }
    a:hover {
      opacity: 0.5;
      display: inline-block;
    }
    a:visited {
      color: white;
      display: inline-block;
    }
  }

  .navbar-layer {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 56px;
    background-color: $latar;
  }

  .photo1 {
    position: absolute;
    left: 660px;
    top: 125.54px;
    z-index: 4;
  }
  .gerigi1 {
    position: absolute;
    left: 943.51px;
    top: 300.94px;
    z-index: 4;
  }
  .gerigi2 {
    position: absolute;
    left: 642.78px;
    top: 6.68px;
    z-index: 4;
  }
  .gerigi3 {
    position: absolute;
    top: -100.14px;
    left: 961.37px;
    z-index: 4;
  }
  .polygon1 {
    position: absolute;
    left: -154.45px;
    top: 365px;
  }
  .trapesium1 {
    position: absolute;
    // z-index: 1;
    top: -594.53px;
    left: 391.78px;
    opacity: 0.6;
  }

  .trapesium2 {
    position: absolute;
    // z-index: 2;
    top: -610.32px;
    left: 410.13px;
    opacity: 0.7;
  }

  .trapesium3 {
    position: absolute;
    // z-index: 3;
    top: -627.5px;
    left: 431.81px;
    opacity: 1;
  }
  .cover {
    background-color: $latar;
    height: 710px;
    position: relative;
    .welcome {
      padding-top: 132.4px;
      h3 {
        font-family: cabinregular;
        font-size: 22px;
        line-height: 27px;
        margin: 0;
        color: $huruf;
      }
      h2 {
        font-family: cabinregular;
        font-size: 40px;
        line-height: 49px;
        margin: 0;
        color: $huruf;
      }
      .playground {
        font-family: cabinbold;
        font-size: 40px;
        line-height: 49px;
        margin: 0;
        padding: 0;
        word-spacing: 0;
        letter-spacing: 0;

        .merah {
          color: $merah;
        }
        .biru {
          color: $biru;
        }
        .kuning {
          color: $kuning;
        }
        .hijau {
          color: $hijau;
        }
      }
    }
    .deskripsi {
      color: $huruf;
    }
    .deskripsi-hp {
      display: none;
    }
  }
  .polygon2 {
    display: none;
  }
}

section {
  width: 100%;
  .about {
    height: 885px;
    background-color: $latar;
  }

  .main {
    width: 100%;
  }
}

.navbar-gaya.scrolled {
  background-color: $latar !important;
  transition: background-color 300ms linear;
  opacity: 1;
  a {
    color: $huruf;
  }
  a:visited {
    color: $huruf;
  }
}

.about {
  width: 100%;
  background-color: $latar;
  height: 700px;
  position: relative;
  overflow: hidden;
  h1 {
    padding-top: 90px;
    font-family: vigaregular;
    font-size: 34px;
    text-align: center;
    color: $huruf;
    margin-bottom: 60px;
  }

  .merah {
    color: $merah;
  }

  p {
    color: $huruf;
  }

  .polygon2 {
    position: absolute;
    top: 170px;
    right: -100px;
    z-index: 7;
  }
  .photo2 {
    position: absolute;
    bottom: 100px;
    left: 0;
    z-index: 2;
  }
  .garis-1 {
    position: relative;
    top: -85px;
  }

  .garis-2 {
    position: relative;
    top: -300px;
    left: -50px;

    z-index: 1;
  }
  .wave {
    position: relative;
    bottom: 600px;
    z-index: 3;
    left: -15px;
  }

  .wave1 {
    position: relative;
    bottom: 830px;
    left: 800px;
    z-index: 0;
  }
}

.milestone {
  // position: relative;
  width: 100%;
  height: auto;
  background-color: $latar2;
  // border-radius: 0 0 20px 20px;
  .polygon3 {
    position: absolute;
    left: -230px;
    img {
      width: 350px;
    }
  }
  .judul {
    padding-top: 90px;
    text-align: center;
    h1 {
      color: $huruf;
      font-family: vigaregular;
      font-size: 34px;
    }
    span {
      color: $merah;
    }
  }

  h3 {
    font-family: montserratregular;
    font-size: 18px;
    text-align: center;
    color: $huruf;
  }
  .grid-container {
    position: relative;
    margin-top: 100px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(9, 1fr);
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ". tanggal1 . . tanggal2 . . . tanggal3 . . ."
      ". titik1 garis1 garis1 titik2 garis2 garis2 garis2 titik3 garis3 garis3 garis3"
      ". konten1 . . konten2 . . . konten3 garis3 garis3 garis3"
      ". . . tanggal5 . . . . tanggal4 garis3 garis3 garis3"
      "garis5 garis5 garis5 titik5 garis4 garis4 garis4 garis4 titik4 garis3 garis3 garis3"
      "garis5 garis5 garis5 konten5 . . . konten4 konten4 konten4 . ."
      "garis5 garis5 garis5 tanggal6 . . tanggal7 . . . tanggal8 ."
      "garis5 garis5 garis5 titik6 garis6 garis6 titik7 garis7 garis7 garis7 titik8 ."
      ". . konten6 konten6 konten6 konten7 konten7 konten7 . konten8 konten8 konten8";
  }

  .tanggal1 {
    grid-area: tanggal1;
  }
  .tanggal2 {
    grid-area: tanggal2;
  }
  .tanggal3 {
    grid-area: tanggal3;
  }
  .tanggal4 {
    grid-area: tanggal4;
  }
  .tanggal5 {
    grid-area: tanggal5;
  }
  .tanggal6 {
    grid-area: tanggal6;
  }
  .tanggal7 {
    grid-area: tanggal7;
  }
  .tanggal8 {
    grid-area: tanggal8;
  }

  .tanggal1,
  .tanggal2,
  .tanggal3,
  .tanggal4,
  .tanggal5,
  .tanggal6,
  .tanggal7,
  .tanggal8 {
    align-self: end;
    position: relative;
    bottom: -10px;
  }
  .konten-hp {
    display: none;
  }
  .konten1 {
    grid-area: konten1;
    // background: $biru;
  }
  .konten2 {
    grid-area: konten2;
    // background: $biru;
  }
  .konten3 {
    grid-area: konten3;
    // background: $biru;
  }
  .konten4 {
    grid-area: konten4;
    // background: $biru;
  }
  .konten5 {
    grid-area: konten5;
    // background: $biru;
  }
  .konten6 {
    grid-area: konten6;
    // background: $biru;
  }
  .konten7 {
    grid-area: konten7;
    // background: $biru;
  }
  .konten8 {
    grid-area: konten8;
    // background: $biru;
  }
  .konten1,
  .konten2,
  .konten3,
  .konten4,
  .konten5,
  .konten6,
  .konten7,
  .konten8 {
    position: relative;
    left: -3px;

    .konten {
      position: relative;
      top: -62px;
      text-align: center;
      font-family: cabinregular;
      color: $latar;
      // font-size: 1.1rem;
      line-height: 22px;
    }
  }
  .garis-hp1,
  .garis-hp2,
  .garis-hp3,
  .garis-hp4 {
    display: none;
  }
  .garis1 {
    grid-area: garis1;
    // background: $kuning;
  }
  .garis2 {
    grid-area: garis2;
    // background: $kuning;
  }
  .garis3 {
    grid-area: garis3;
    justify-self: start;
    position: relative;
    left: -15px;
    // background: $kuning;
  }
  .garis4 {
    grid-area: garis4;
    // background: $kuning;
  }
  .garis5 {
    grid-area: garis5;
    justify-self: end;
    position: relative;
    right: -15px;
    // background: $kuning;
  }
  .garis6 {
    grid-area: garis6;
    justify-self: center;
    position: relative;
    left: -4px;
    // background: $kuning;
  }
  .garis7 {
    grid-area: garis7;
    // background: $kuning;
  }
  .titik1 {
    position: relative;
    bottom: -3px;
    grid-area: titik1;

    // background: $hijau;
  }
  .titik2 {
    position: relative;
    bottom: -3px;
    grid-area: titik2;
    // background: $hijau;
  }
  .titik3 {
    position: relative;
    bottom: -3px;
    grid-area: titik3;
    // background: $hijau;
  }
  .titik4 {
    position: relative;
    bottom: -3px;
    grid-area: titik4;
    // background: $hijau;
  }
  .titik5 {
    position: relative;
    bottom: -3px;
    grid-area: titik5;
    // background: $hijau;
  }
  .titik6 {
    position: relative;
    bottom: -3px;
    grid-area: titik6;
    // background: $hijau;
  }
  .titik7 {
    position: relative;
    bottom: -3px;
    grid-area: titik7;
    // background: $hijau;
  }
  .titik8 {
    position: relative;
    bottom: -3px;
    grid-area: titik8;
    // background: $hijau;
  }
  .titik1,
  .titik2,
  .titik3,
  .titik4,
  .titik5,
  .titik6,
  .titik7,
  .titik8 {
    transition: 500ms;
    transform: scale(1);
  }

  .titik1:hover,
  .titik2:hover,
  .titik3:hover,
  .titik4:hover,
  .titik5:hover,
  .titik6:hover,
  .titik7:hover,
  .titik8:hover {
    cursor: pointer;
    transition: 500ms;
    transform: scale(1.125);
  }
  .readmore {
    // position: relative;
    margin-top: 30px;
    padding-bottom: 60px;
    text-align: center;
  }
  .readmore-hp {
    display: none;
  }
}

.gallery {
  width: 100%;
  background: $latar2;
  height: auto;
  // position: relative;
  // text-align: center;
  .judul {
    padding-top: 90px;
    text-align: center;
    h1 {
      color: $huruf;
      font-family: vigaregular;
      font-size: 34px;
    }
    span {
      color: $biru;
    }
  }

  .grid-container {
    // text-align: center;
    // height: 800px;
    margin-top: 100px;
    margin-left: auto;
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 200px);
    grid-template-areas:
      "foto1 foto2 foto3"
      "foto4 foto5 foto3";
  }

  .foto1,
  .foto2,
  .foto3,
  .foto4,
  .foto5,
  .foto6 {
    img {
      width: 300px;
      border-radius: 30px;
      height: 199.8px;
    }
  }
  .foto1 {
    grid-area: foto1;
  }
  .foto2 {
    grid-area: foto2;
  }
  .foto3 {
    grid-area: foto3;
    align-self: center;
    img {
      height: 415px;
      width: auto;
    }
  }
  .foto4 {
    grid-area: foto4;
  }
  .foto5 {
    grid-area: foto5;
  }
  .foto6 {
    grid-area: foto6;
  }
  .readmore {
    // position: relative;
    margin-top: 60px;
    padding-bottom: 120px;
    text-align: center;
  }
}

.contact-me {
  height: auto;
  background-color: $latar;
  position: relative;
  // text-align: center;
  .pseudo {
    background-color: $latar2;
    height: 120px;
    position: relative;
    border-radius: 0 0 30px 30px;
  }
  .judul {
    width: 300px;
    background-image: linear-gradient(to right, $merah, $kuning, $hijau);
    height: 60px;
    margin: auto;
    text-align: center;
    position: relative;
    top: -30px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.9);
    h2 {
      color: white;
      line-height: 60px;
    }
  }
  .location {
    margin-top: 60px;
    padding-bottom: 60px;
    .peta {
      box-sizing: content-box;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 5px;
    }
  }
}

footer {
  .credit {
    text-align: center;
    background-color: $latar2;
    height: 50px;
    width: 100%;
    p {
      color: $huruf;
      line-height: 50px;
      svg {
        color: $merah;
      }
      a {
        text-decoration: none;
        color: $huruf;
      }
    }
  }
}

// Modal Dialog
.modal-content {
  background-color: $latar;
  h5 {
    color: $huruf;
  }
  .modal-body {
    .foto {
      width: 100%;
      height: 270px;
      overflow: hidden;
      border: 1px solid rgba(0, 0, 0, 0.6);
      border-radius: 3px;
      img {
        // height: 250px;
        width: 100%;
      }
    }
    .tanggal {
      font-family: montserratregular;
      font-size: 12px;
      color: $huruf;
    }
    .deskripsi {
      text-align: justify;
      text-justify: inter-word;
      color: $huruf;
      h3 {
        font-size: 16px;
        color: $huruf;
        display: inline-block;
      }
      .detail-tanggal {
        position: relative;
        float: right;
        font-size: 14px;
        color: lighten($huruf, 0.5);
      }
      a {
        text-decoration: none;
        color: $huruf;
        font-size: 0.8rem;
      }
      a:hover {
        color: lighten($huruf, 0.5);
      }
    }
  }
}

// Responsive HP
@media screen and (max-width: 768px) {
  header {
    .transparan {
      background-color: rgba(248, 249, 250, 1);
    }
    .navbar-toggler {
      background-color: rgba(248, 249, 250, 1);
      border: 1px solid $huruf;
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(112,112,112, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar {
      font-family: montserratregular;
      z-index: 5;
      a {
        color: $huruf;
        display: inline-block;
      }
      a:hover {
        opacity: 0.5;
        display: inline-block;
      }
      a:visited {
        color: $huruf;
        display: inline-block;
      }
    }

    h3,
    h2,
    p,
    .playground {
      text-align: center;
    }
    .photo1 {
      position: absolute;
      left: 0;
      top: 400px;

      img {
        height: 200px;
      }
    }
    .cover {
      .welcome {
        h2 {
          font-size: 30px;
          line-height: 34px;
        }
        p {
          font-size: 16px;
        }
        .playground {
          font-size: 30px;
          line-height: 32px;
        }
        .deskripsi {
          display: none;
        }
        .deskripsi-hp {
          display: block;
          margin: auto;
          margin-top: 15px;
          width: 85%;
          color: $huruf;
        }
      }
    }
    .polygon2 {
      display: block;
      position: absolute;
      bottom: -75px;
      right: -75px;
      z-index: 0;
    }
  }

  .about {
    position: relative;

    .polygon2 {
      position: absolute;
      top: -75px;
      right: -75px;
      z-index: 0;
    }
    p {
      position: relative;
      z-index: 1;
    }

    .photo2 {
      position: absolute;
      bottom: 0px;
      left: 0;
      z-index: 2;
    }
    img {
      width: 150px;
    }
    .garis-1,
    .garis-2 {
      display: none;
    }

    .wave,
    .wave1 {
      display: none;
    }
  }
  .milestone {
    width: 100%;
    position: relative;
    height: 1500px;
    .grid-container {
      column-gap: 30px;
      display: grid;
      grid-template-columns: 120px 20px auto;
      grid-template-rows: repeat(10, 100px);
      grid-template-areas:
        "tanggal4 titik4 konten4"
        ". garis-hp1 ."
        "tanggal5 titik5 konten5"
        ". garis-hp2 ."
        "tanggal6 titik6 konten6"
        ". garis-hp3 ."
        "tanggal7 titik7 konten7"
        ". garis-hp4 ."
        "tanggal8 titik8 konten8"
        "readmore readmore readmore";
    }
    h3 {
      text-align: right;
    }
    .tanggal4 {
      grid-area: tanggal4;
    }
    .tanggal5 {
      grid-area: tanggal5;
    }
    .tanggal6 {
      grid-area: tanggal6;
    }
    .tanggal7 {
      grid-area: tanggal7;
    }
    .tanggal8 {
      grid-area: tanggal8;
    }

    .tanggal4,
    .tanggal5,
    .tanggal6,
    .tanggal7,
    .tanggal8 {
      position: relative;
      align-self: center;
      left: -30px;
      bottom: -5px;
      justify-self: end;
      h3 {
        font-size: 16px;
      }
    }
    .titik4 {
      grid-area: titik4;
    }
    .titik5 {
      grid-area: titik5;
    }
    .titik6 {
      grid-area: titik6;
    }
    .titik7 {
      grid-area: titik7;
    }
    .titik8 {
      grid-area: titik8;
    }
    .titik4,
    .titik5,
    .titik6,
    .titik7,
    .titik8 {
      position: relative;
      left: -25px;
    }

    .konten4 {
      grid-area: konten4;
    }
    .konten5 {
      grid-area: konten5;
    }
    .konten6 {
      grid-area: konten6;
    }
    .konten7 {
      grid-area: konten7;
    }
    .konten8 {
      grid-area: konten8;
    }

    .konten4,
    .konten5,
    .konten6,
    .konten7,
    .konten8 {
      position: relative;
      top: 35px;
      left: -25px;
      justify-self: start;
      .konten {
        text-align: left;
        position: relative;
        left: 25px;
      }
      .konten-pc {
        display: none;
      }

      .konten-hp {
        display: block;
      }
    }

    .garis-hp1,
    .garis-hp2,
    .garis-hp3,
    .garis-hp4 {
      display: block;
      position: relative;
      left: -27px;
    }

    .garis-hp1 {
      grid-area: garis-hp1;
    }
    .garis-hp2 {
      grid-area: garis-hp2;
    }
    .garis-hp3 {
      grid-area: garis-hp3;
    }
    .garis-hp4 {
      grid-area: garis-hp4;
    }

    .readmore-hp {
      display: block;
      grid-area: readmore;
    }

    .tanggal1,
    .tanggal2,
    .tanggal3,
    .garis1,
    .garis2,
    .garis3,
    .garis4,
    .garis5,
    .garis6,
    .garis7,
    .titik1,
    .titik2,
    .titik3,
    .konten1,
    .konten2,
    .konten3,
    .readmore {
      display: none;
    }
  }

  .gallery {
    .grid-container {
      display: grid;
      margin-top: 20px;
      text-align: center;
      grid-template-columns: 100%;
      grid-template-rows: repeat(4, 200px);
      grid-template-areas:
        "foto1"
        "foto2"
        "foto4"
        "foto5";
    }

    .foto1,
    .foto2,
    .foto4,
    .foto5 {
      img {
        width: 70%;
      }
    }

    .foto3 {
      display: none;
    }
    .foto1 {
      grid-area: foto1;
    }
    .foto2 {
      grid-area: foto2;
    }
    .foto3 {
      grid-area: foto3;
    }
    .foto4 {
      grid-area: foto4;
    }
    .foto5 {
      grid-area: foto5;
    }
  }
  .contact-me {
    .peta {
      display: none;
    }
  }
}
