@font-face {
  font-family: "vigaregular";
  src: url("../font/viga-regular.woff2") format("woff2"),
    url("../font/viga-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$kuning: #fbbc05;
$hijau: #34a853;
$biru: #4285f4;
$merah: #ea4335;
$latar: #f8f9fa;
$latar2: #e9ecef;
$huruf: #707070;

html {
  box-sizing: border-box;
}
body {
  background-color: $latar;
  box-sizing: border-box;
  margin: 0;
}

.menu-navigasi {
  margin: 0 auto;
  margin-bottom: 15px;
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: $latar2;
  width: 80%;
  .isi-navigasi {
    margin: 0 50px;
    padding: 10px 0;
  }
}

.kontener {
  margin: 0 auto;
  background-color: $latar;
  width: 100%;
  //  Batas konten baru
  .nav-pills {
    li.active {
      a,
      a:focus,
      a:hover {
        color: #fff;
        background-color: #337ab7;
      }
    }
  }

  .nav-pills {
    li {
      a {
        border-radius: 4px;
      }
    }
  }

  .nav li a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  nav.li {
    column-gap: 0;
  }
  .grid-container {
    margin-left: 50px;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    display: grid;
    grid-template-columns: 200px 1fr;
  }

  .item1 {
    position: sticky;
    align-self: start;

    top: 60px;
  }

  div.col-sm-9 div {
    height: 250px;
    font-size: 28px;
  }

  #section1 {
    color: #fff;
    background-color: #1e88e5;
    padding-top: 60px;
  }
  #section2 {
    color: #fff;
    background-color: #673ab7;
  }
  #section3 {
    color: #fff;
    background-color: #ff9800;
  }
  #section41 {
    color: #fff;
    background-color: #00bcd4;
  }
  #section42 {
    color: #fff;
    background-color: #009688;
  }

  @media screen and (max-width: 810px) {
    #section1,
    #section2,
    #section3,
    #section41,
    #section42 {
      margin-left: 150px;
    }
  }
  // Batas akhir konten baru
  .milestone {
    font-family: vigaregular;
    font-size: 34px;
  }

  .rak {
    margin: 0 200px 0 0;
    padding-top: 0;
    padding-bottom: 20px;
    .judul {
      h1 {
        padding-top: 60px;
        margin: 0;
      }
    }
    .garis {
      border-top: 2px solid $huruf;
    }
    .hr-thin {
      border-top: 1px solid $huruf;
      padding: 1px 0;
    }

    .tanggal {
      font-size: 14px;
    }
    .konten {
      p {
        color: $huruf;
        margin-bottom: 0;
      }
    }
  }
}

.tombol {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  text-align: center;
  width: 100%;
  background-color: $latar2;
  height: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
  }

  svg {
    color: $merah;
  }
}
